<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806692344322-e51ta6e9m2osf4gtu9s07nnnk8358061.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806692344322-e51ta6e9m2osf4gtu9s07nnnk8358061</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806692344322-6gfpjtdpfpha5h57gm919fvv0akrh8aa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAysIFCRovE_APXTqxtzjYKiG_tq5_aTqM</string>
	<key>GCM_SENDER_ID</key>
	<string>806692344322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithwaqar.imagetotextconverter</string>
	<key>PROJECT_ID</key>
	<string>flutter-image-to-text-5bccf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-image-to-text-5bccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806692344322:ios:fc9a9fa2113489e5d74d1b</string>
</dict>
</plist>